<!DOCTYPE html>
<html>  

    <head>
        <title>Your Podcast Profile</title>
        <link rel="stylesheet" href="/assets/dist/app.css" media="screen">
    </head>

    <body>

        <h1>Your Podcast Profile</h1>
        <p>
            You are logged in!
        </p>

        <div>
            Your name is {{ Auth::user()->name }}<br/>
            Your twitter handle is {{ Auth::user()->handle }}<br/>
            <img src="{{ Auth::user()->avatar }}" height="200" width="200" />
        </div>

    </body>
</html>
