.site-navigation-absolute {
    position: relative;
    z-index: 999999;
}

@media (min-width: @breakpoint-medium) {

    .site-navigation-absolute {
        position: absolute;
        right: 0;
        z-index: 999999;
    }

}


.site-block-home p {
    font-size: 24px;
    line-height: 36px;
}

.site-block-header {
    background-color: @brand-primary;
    color: #fff;
}

.site-tagline {
    padding: 0 15px;
    font-size: 36px;
    line-height: 42px;
    font-weight: @site-font-weight-light;
}
@media (min-width: @breakpoint-medium) {
    .site-tagline {
        font-size: 48px;
        line-height: 56px;
    }
}

.site-padding {
    padding: 0 10px;
}

.site-button-twitter {
    background: #55acee;
    border-radius: 5px;
    padding: 10px 35px;
    font-weight: @site-font-weight-light;
}


.site-block-footer {
    background-color: #353535;
    color: #9b9b9b;

    a {
        color: #9b9b9b;
        text-decoration: none;

    }

    a:hover {
        color: #ccc;
    }
}
@media (min-width: @breakpoint-medium) {
    .site-block-footer a {
        padding: 0 30px;
    }
}

.site-block-one {
    background-color: #fff;
    color: #333333;
}

.site-block-two {
    background-color: #20b27f;
    color: rgba(255, 255, 255, 0.8);
    h2 {
        color: #fff;
    }
}

.site-block-three {
    background-color: #69d4ae;
    color: #555; // take this, thiemo!
    h2 {
        color: #232323;
    }
}
