@navbar-background: @brand-primary;
@navbar-color: #fff;
@navbar-nav-height: 60px;
@navbar-nav-hover-background: @navbar-background;
@navbar-nav-onclick-background: @navbar-background;
@navbar-nav-line-height: 60px;
@navbar-nav-color:  #d7bde7;
@navbar-nav-hover-color: #fff;

// Toggle
@navbar-toggle-color: #d7bde7;
@navbar-toggle-hover-color: #fff;
@navbar-toggle-icon: "\f0c9";
@navbar-toggle-icon-alt: "\f002";
@navbar-toggle-font-size: 14px;

// fixes logo jumping to next line
.uk-navbar-center {
    max-width: auto;
}