@import url(https://fonts.googleapis.com/css?family=Open+Sans:200,200italic,400,400italic,700,700italic);

@import "../bower_components/uikit/less/uikit.less";
@import "../bower_components/uikit/less/components/sortable.less";
@import "../bower_components/uikit/less/components/notify.less";

@import "navbar.less";
@import "index.less";
@import "profile.less";
@import "settings.less";

@brand-primary: #7d28b2;
@brand-secondary: #000000;

@icon-font-path: "fonts";
@base-body-background: #fff;
@text-primary-color: @brand-primary;
@base-body-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

@base-heading-font-weight: 400;
@site-font-weight-light: 200;

@alert-background: #EBF7FC;

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    min-height: 100vh;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.site-content {
    flex: 1;
}
